<h2 class="text-center"><i class="fa fa-star-o"></i> GitHub Most Starred <i class="fa fa-star-o"></i></h2>

<h4 class="text-success text-center">
    Total Repositories: {{starred.total_count}} 
</h4>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <button type="button" ng-click="populate()" class="btn btn-success"><i class="fa fa-refresh" aria-hidden="true"> Refresh</i></button>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in repos">
            <td>
                <img src="{{repo.avatar_url}}" width="50" />
            </td>
            <td>
                <button class="btn btn-warning"><span class="badge"><i class="fa fa-star-o"> </i>  {{repo.number_of_stars}}</span></button>
            </td>
            <td>
                <p><strong><u>Repo Name</u></strong><br /><em>{{repo.name}}</em></p>
            </td>
            <td>
                <p><strong><u>Description</u></strong><br /><em>{{repo.description}}</em></p>
            </td>
            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#repoModal" ng-click="viewRepo(repo.repositoryId)">View Details</button></td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div id="repoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Repository: {{repo.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-12">
            <div class="col-sm-4">
                <img src="{{repo.avatar_url}}" alt="Owner's Avatar" width="150">
            </div>
            <div class="col-sm-8">
                <p><strong>Repository ID:</strong> {{repo.repositoryId}}</p>
                <p><strong>Name:</strong> {{repo.name}}</p>
                <p><strong>Description:</strong> {{repo.description}}</p>
                <p><strong>Repo URL:</strong> {{repo.url}}</p>
                <p><strong># of Stars:</strong> {{repo.number_of_stars}}</p>
                <p><strong>Date Created:</strong> {{repo.created_date | date:'short'}}</p>
                <p><strong>Last Push:</strong> {{repo.last_push_date | date:'short'}}</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>